header{
    color: #5a3d16;
    background-color: black;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background-color: #966a32;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

nav{
    background-color: #966a32;
    padding: 10px;
    margin: 5px;
}

nav a:hover {
    background-color: #d2b48c; /* Change to a darker shade of beige on hover */
}

#homeImage{
    background-size: 50%;
    position: fixed;
}
footer{
    position:absolute;
    bottom: 5%;
    right: 5%;
}

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
  }
